.kwindow-win-titleGroups {
    display: block;
    position: absolute; 
    top: 25px;
    left: 0px;
    right: 0px;
    min-height: 28px;
}

.kwindow-win-buttonGroup {
    margin-left: 15px;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #888;
    border-right: 1px solid #777;
    border-left: 1px solid #777;
    border-top: 1px solid #555;
    -moz-border-radius: 5px;
    min-width: 20px;
    height: 22px;
    background-color: #acacad;
    background-image: url(../images/win-actionbar-groupButton-bg.png);
    white-space: nowrap;
    padding-left: 1px;
    position: relative;
}

.kwindow-win-buttonGroup object {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 27px;
    height: 21px;
}

.kwindow-win-buttonGroupContent {
    position: relative;
}

.kwindow-win-buttonWrapperFirst {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.kwindow-win-buttonWrapperLast {
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.kwindow-win-buttonWrapper {
    /*padding: 6px 4px 6px 4px;
    padding: 3px 4px 2px 4px;
    line-height: 22px;*/
    border: 1px solid #a9a9a9;
    border-top: 1px solid #afaeb1;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #bbb;
    top: -2px;
    margin-left: -1px;
    line-height: 20px;
    position: relative;
    /*width: 26px;*/
    float: left;
    display: block;
    height: 16px;
    padding: 3px 14px 3px 14px;
    background-position: center center;
    background-repeat: no-repeat;
}

.kwindow-win-buttonWrapper:hover {
    background-color: #b6b6b6;
    border: 1px solid #607a90;
    
    border: 1px solid #999;
    border-top: 1px solid #888;
    border-bottom: 1px solid #aaa;

    background-color: #999;
}

.kwindow-win-tabGroup .buttonHover {
    background-color: #999;
}

.kwindow-win-buttonGroup .buttonHover,
.kwindow-win-buttonWrapper:active {
    
    background-color: #999;
    border: 1px solid #607a90;
    
    border: 1px solid #888;
    border-top: 1px solid #777;
    border-bottom: 1px solid #999;
}
