a.ka-Button, a.ka-Button:link {
    padding: 5px 5px 6px 10px;
    cursor: default;
    position: relative;
    /*
    background-color: #f5f5f5;
    */
    top: 2px;
    color: #222;
    line-height: 22px;
    font-weight: normal;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 0px 3px;
    text-decoration: none;
    outline: 0;
    background-image: url(../images/button-bg.png);
    background-repeat: no-repeat;
}

a.ka-Button:hover {
    background-position: left -27px;
    color: white;
}

a.ka-Button span, a.ka-Button:link span {
    position: absolute;
    right: -4px;
    top: 0px;
    height: 25px;
    width: 6px;
    background-image: url(../images/button-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}


a.ka-Button:hover span {
    background-position: right -27px;
}

a.ka-Button-active span,
a.ka-Button-active:link span {
    background-position: right -53px;
}

a.ka-Button-active,
a.ka-Button-active:link {
    background-position: left -53px;
    color: white;
}

a.ka-Button-active, a.ka-Button-active:link, a.ka-Button-active:hover {
    background-color: #ccc;
}

/* controls */
a.ka-button, 
a.ka-button:link {
    text-decoration: none;
    outline: 0;
    /*padding: 3px 5px 3px 5px;
    border: 1px solid #888;
    background-color: #ddd;*/
    -moz-border-radius: 4px;
    cursor: pointer;
    font-weight: normal;
    /*background-image: url(../images/ka-button-bg.png);*/
}

/*
a.ka-button:hover {
    color: #333;
    background-image: none;
}*/

div.button-list {
    text-align: right;
    padding-right: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    bottom: -1px;
    border-top: 1px solid gray;
    line-height: 28px;
    background-color: #aaa;
}

.ka-Button img {
    position: relative;
    top: 4px;	
}
