.kwindow-win-buttonBar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #aaa;
    border-top: 1px solid gray;
    text-align: right;
    padding-right: 9px;
}
