.dialog {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 5px solid gray;
    background-color: white;
    -moz-border-radius: 5px;
    padding: 5px;
    z-index: 10002;
}

.dialog h1 {
   font-size: 14px;
   font-weight: bold;
   border-bottom: 1px solid silver;
   padding-left: 2px;
   margin: 0px 0 5px 0;
   background-color: transparent;
}

.dialog-content {
    overflow: auto;
    position: absolute;
    top: 25px;
    bottom: 30px;
    left: 0px;
    right: 0px;
}

.dialog .actions {
    text-align: right;
    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    border: 0px;
    padding: 4px;
    background-color: transparent;
    border-top: 1px solid #eee;
    padding-top: 8px;
}

.dialog .actions a,
.dialog .actions a:link {
    margin-left: 2px;
}
