.ka-helpsystem-container {
    position: absolute;
    right: 0px;
    bottom: 7px;
    overflow: hidden;
    width: 270px;
    z-index: 5000000;
}

a.ka-helpsystem-bubble-closer {
    position: absolute;
    right: 5px;
    top: 3px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    height: 15px;
    width: 15px;
}

a.ka-helpsystem-bubble-closer:hover {
    color: #bbb;
    cursor: pointer;
}


.ka-helpsystem-bubble {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #5A585D;
    background-image: url("../images/windowlist-bg.png");
    background-repeat: repeat-x;
    background-position: left -5px;
    padding: 8px;
    padding-top: 4px;
    color: #eee;
    font-size: 11px;
    margin-top: 5px;
    line-height: 20px;
    position: relative;
}

.ka-helpsystem-bubble h3 {
    color: white;
    margin: 4px 0px;
    margin-top: 0px;
}

.ka-helpsystem-bubble a,
.ka-helpsystem-bubble a:link {
    color: #ddd;
}