.ka-list-main table,
.ka-list-head table {
    table-layout: fixed;
    width: 100%;
}

.ka-list-head {
    position: absolute;
    top: 0px;
    /*width: 100%;*/
    left: 0px;
    right: 16px;
    height: 21px;
    border-bottom: 1px solid silver;
    background-color: #e5e5e5;
}

.ka-list-main {
    position: absolute;
    top: 22px;
    width: 100%;
    bottom: 30px;
    background-color: #f9f9f9;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ka-list-head table th {
    line-height: 17px;
}

.ka-list-head table th:hover {
    background-color: #c7c7c7;
}

.ka-list-head table th,
.ka-list-main table td {
    cursor: default;
    border-left: 1px solid #ddd;
    padding-left: 3px;
    font-weight: normal;
}

.ka-list-main table tr td {
    color: #555;
}


.ka-list-main table tr td.edit img {
    cursor: pointer;
}

.ka-list-main table tr.active td {
    background-color: #112a6a;
    color: white;
}

.ka-list-main table tr.one td {
    background-color: #f5f5f5;
}

.ka-list-main table tr.two td {
    background-color: #fafafa;
}

.ka-list-bottom {
    position: absolute;
    bottom: -1px;
    height: 30px;
    width: 100%;
    background-color: #aaa;
    border-top: 1px solid gray;
}

.ka-list-bottom .actionBar {
    position: absolute;
    line-height: 15px;
    top: 5px;
    left: 5px;
}

.ka-list-bottom .actionBar img {
    cursor: pointer;
}

.ka-list-bottom .navi {
    text-align: right;
    position: absolute;
    width: 150px;
    right: 5px;
    top: 5px;
    line-height: 15px;
}

.ka-list-bottom .navi img {
    margin: 0px 1px 0px 1px;
}

.ka-list-bottom .navi input {
    margin: 0px 1px 0px 1px;
    width: 32px;
    height: 13px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ddd;
    position: relative;
    top: -3px;
}

a.ka-list-search-button,
a.ka-list-search-button:link {
    position: absolute;
    display: block;
    padding: 0px 5px 0px 5px;
    right: 150px;
    top: -1px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}


a.ka-list-search-button:hover,
a.ka-list-search-button-active,
a.ka-list-search-button-active:link {
    background-color: #bbb;
    color: white;
}

.ka-list-search-pane {
    background-color: #bbb;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 28px;
    left: 0px;
    width: 100%;
    overflow: auto;
    height: 1px;
}



/*

.ka-list-table {
    padding: 0px;
    margin: 0px;
}

.ka-list-table thead th {
    height: 25px;
    border-bottom: 1px solid silver;
}

.ka-list-table td {
    background-color: white;
}

.ka-list-table tbody td {
    padding: 1px 23px 1px 2px;
    height: 18px;
    border-bottom: 1px solid #ddd;
}

.ka-list-table th.edit,
.ka-list-table td.edit {
    padding-right: 2px;
    width: 5px;
}

.ka-list-actionBar {
    position: absolute;
    background-color: white;
    bottom: 0px;
    height: 25px;
    line-height: 25px;
    padding-left: 2px;
    left: 0px;
    right: 0px;
    border-top: 1px solid gray;
}
*/
