.pagesTree-newLvL {
    padding-left: 15px;
    /*background-image: url(../images/linksNaviBg.gif);*/
    background-repeat: repeat-y;
}

.pagesTree-newLvLLast {
    background-image: none;
}

.pagesTree-pageItem {
    position: relative;
    margin: 1px 0px 1px 0px;
    padding: 2px 0px 3px 0px;
    white-space: nowrap;
    position: relative;
    background-repeat: repeat-y;
    /*background-image: url(../images/linksNaviItemBg.gif);*/
}

.pagesTree-pageItem div.title span:hover,
.pagesTree-pageItem div.active span {
    background-color: #ddd;
}

.pagesTree-pageItemLast {
    /*background-image: url(../images/linksNaviItemBgLast.gif);*/
}

.pagesTree-pageItem .title {
    position: relative;
    margin-left: 36px;
    padding-right: 14px;
}

.pagesTree-pageItem .title span {
    padding: 0px 3px 0px 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
}

.pagesTree-pageItem .type {
    position: absolute;
    top: 0px;
    left: 17px;
}

.pagesTree-pageItemDomain .type {
    top: 3px;	
}

.pagesTree-pageItem .specialIcons {
    position: absolute;
    top: 0px;
    left: 17px;
    width: 16px;
    height: 16px;
    display: table-cell;
    vertical-align: bottom;
    cursor: pointer;
}

.pagesTree-pageItem .specialIcons img {
    position: absolute;
    left: 0px;
    top: 0px;
}

.pagesTree-pageItem img.toggle {
    position: absolute;
    left: 5px;
    top: 2px;
    cursor: default;
}

.pagesTree-pageItemDomain img.toggle {
    top: 5px;   
}

.ka-pagesTree-context {
    position: absolute;
    z-index: 50000000;
    left: 0px;
    top: 0px;
    padding: 1px;
    border: 1px solid gray;
    border-left: 1px solid silver;
    border-top: 1px solid silver;
    background-color: #f5f5f5;
}

.ka-pagesTree-context a,
.ka-pagesTree-context a:link {
    display: block;
    line-height: 13px;
    padding: 0px 5px 0px 8px;
    cursor: pointer;
    color: #444;
}

.ka-pagesTree-context a:hover {
    background-color: gray;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.ka-pagesTree-context a.noaction:hover,
.ka-pagesTree-context a.delimiter:hover {
    color: #444;
    background-color: transparent;
}

.ka-pagesTree-context a.delimiter {
    border-bottom: 1px solid #ddd;
    padding-top: 1px;
    height: 1px;
    margin-bottom: 2px;
}

.ka-pagesTree-context a.indented {
    padding-left: 20px;
}

.pagesTree-context-move {
    position: absolute;
    width: 120px;
    background-color: white;
    border: 1px solid silver;
    border-bottom: 0px;
}

.pagesTree-context-move a.into {
    background-image: url(../images/icons/arrow_right.png);
}

.pagesTree-context-move a.up {
    background-image: url(../images/icons/arrow_turn_up.png);
}

.pagesTree-context-move a.down {
    background-image: url(../images/icons/arrow_turn_bottom.png);
}

.pagesTree-context-move a,
.pagesTree-context-move a:link {
    background-repeat: no-repeat;
    border-bottom: 1px solid silver;
    display: block;
    padding: 2px 5px 2px 25px;
    text-decoration: none;
    cursor: pointer;
}

.pagesTree-context-move a:hover {
    background-color: #f7f7f7;
}
