
/*
.kwindow-win-smallTabWrapper:hover {
    border-left: 1px solid #999;
    border-top: 1px solid #888;
    border-bottom: 1px solid #aaa;
}*/



a.kwindow-win-smallTabWrapper,
a.kwindow-win-smallTabWrapper:link,
a.kwindow-win-smallTabGroup .buttonHover {
    border-left: 1px solid #a9a9a9;
    border-top: 1px solid #afaeb1;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #bbb;
    margin-left: -1px;
    line-height: 21px;
    font-size: 10px;
    position: relative;
    top: -2px;
    padding: 3px 21px 3px 21px;
    color: #333;
    padding: 9px 7px 7px 7px;
    background-position: center 1px;
    background-repeat: no-repeat;
    cursor: default;
    line-height: 33px;
    font-weight: bold;
}


a.kwindow-win-smallTabWrapper img,
a.kwindow-win-smallTabWrapper:link img {
    position: relative;
    top: 3px;
    margin-right: 3px;
}