.kwindow-win-tabPane-pane {
	-moz-border-radius: 5px;
	border: 1px solid #aaa;
	padding: 10px;
	margin:0px 5px	
}

.kwindow-win-tabPane .kwindow-win-tabWrapperLast {
	border-right: 0px;
}

.kwindow-win-tabPane .kwindow-win-tabGroup {
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    border-top:1px solid #888;	
}