.wm-bar-item {
}

.wm-bar-item,
.wm-bar-item-active {
    display: block;
    border-right: 1px solid #727175;
    min-width: 110px;
    float: left;
    text-align: left;
    line-height: 17px;
    border: 1px solid #676767;
    border: 1px solid #494949;
    margin: 4px 1px 2px 1px;
    color: white;
    font-weight: normal;
    cursor: pointer;
    padding: 0px 13px 0px 13px;
    -moz-border-radius: 4px;
    background-image: url(../images/wm-bar-item-bg.jpg);
}

.wm-bar-item:hover {
    background-image: url(../images/wm-bar-item-bg-hover.jpg);
}

.wm-bar-item:hover,
.wm-bar-item-active:hover {
    color: white;
}

.wm-bar-item:hover {
    background-color: #4d4b4f;
}

.wm-bar-item-active:hover {
    opacity: 0.9;
}

.wm-bar-item-active,
.wm-bar-item-active:hover {
    background-color: #285277;
    background-image: url(../images/wm-bar-item-bg-active.jpg);
    background-repeat: repeat-x;
    border: 1px solid #3b3b3b;
    border-top: 1px solid #333;
}
