RewriteEngine On
#RewriteBase /

options -Indexes

<IfModule mod_php5.c>
    php_flag magic_quotes_gpc Off
</IfModule>

<IfModule !mod_php5.c>
   <IfModule mod_env.c>
      SetEnv MAGIC_QUOTES 0
   </IfModule>
</IfModule>

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.* - [L]

RewriteRule ^(.+)$ index.php?_kurl=$1&%{query_string} [E=PORT:%{SERVER_PORT},L]
