#registrationform { padding-left: 5px; margin: 0; float: left; }
#registrationform dd { margin-left: 1em; margin-bottom: 0.5em; }

#registrationform dd ul { list-style: none outside none; padding: 0; }

#registrationform .req { font-weight: bold; }

#registrationform #error { border: 1px solid red; background-color: #FFEBE8; padding: 5px 10px; text-align: center; }