.filebrowser .tabBar .button {
    float: left;
    padding: 4px 7px 4px 7px;
    margin-right: 1px;
    border: 1px solid silver;
    cursor: pointer;
    border-bottom: 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    position: relative;
    bottom: -1px;
}

.filebrowser .tabBar .activeButton {
    background-color: #f6f6f6;
}

.filebrowser .tabPane {
    clear: left;
    border: 1px solid silver;
    background-color: #f6f6f6;
    padding: 5px;
}

.filebrowser .tabPane .pane {
    display: none;
}

.filebrowser {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.filebrowser .tabBar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 23px;
}

.filebrowser .tabPane {
    position: absolute;
    top: 23px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.pages ._node {
    margin-left: 20px;
}

.pages .fbSelectItem {
    cursor: pointer;
    margin: 1px 1px 1px 20px;
}

.pages ._selected {
    background-color: #abbdff;
    border: 1px solid #0c2fb3;
    margin: 0px 0px 0px 19px;
}

.filebrowser .pages ._arrow {
    margin-left: 20px;
    color: gray;
    line-height: 10px;
    font-size: 10px;
    cursor: pointer;
}
