html, body {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 15px;
  height: 100%;
}

img {
	border: 0px;
}

a:link, a:visited, a:active {
	color: #02486c;
	text-decoration: none;
}

a:hover {
	color: gray;
	text-decoration: underline;
}

/*
	CONTENT DivS
*/

div.content a, div.content a:visited {
	text-decoration: underline;
}
div.content a:hover {
	text-decoration: none;
}

div.content {
	padding-left: 5px;
}

div.border {
	width: 1000px;
	text-align: center;
	margin: auto;
	border: 1px solid silver;
	margin-top: 5px;
}

div.header {
	border-bottom: 0px;
	height: 100px;
	margin: auto;
	text-align: left;
	background-image: url(images/logo_bg.png); 
	border-bottom: 1px solid silver;
	margin-bottom: 5px;
}

img.headerPic {
	margin-top: 12px;
	margin-left: 5px;
}

div.headerNavi {
	float: left;
	padding-left: 40px;
}


div.middle {
	text-align: left;
	margin: auto;
}

div.middleLeft {
	float: left;
	width: 150px;
}
div.middleCenter {
	float: left;
	width: 840px;
	
}
div.footer a{
	color: silver;
}

div.footer {
	text-align: right;
	border-top: 1px solid silver;
	height: 14px;
	clear: both;
	margin: auto;
	color: silver;
	font-size: 10px;
}
div.clear{
	clear: left;
	height: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
}
/*
	NAVIGATION
*/
.naviItem {
	text-decoration: none;
	display: block;
}
.naviItem:hover {
	text-decoration: none;
	background-color: #d3dbff;
}

div.naviHead {
	color: black;
	padding: 1px;
	font-weight: bold;
	padding-left: 3px;
	margin: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-bottom: 1px solid #1788c3;
}

div.boxContent {
	margin: 5px;
	margin-top: 0px;
	padding-left: 5px;
}

div.menu {
	margin-top: 8px;
	margin-bottom: 7px;
	padding-left: 3px;
	color: silver;
}
div.menu a{
	color: silver;
}

div.naviSuperItem a{
	color: white;
	text-decoration: none;
}

div.naviSuperItem {
	background-color: #0271b0;
	width: 75px;
	height: 15px;
	padding: 15px;
	margin: 17px;
	border: 1px solid silver;
	float: left;
	display: block;
}

.hyper, .hyper:visited, .hyper:link
{
	float: left;
	width: 75px;
	height: 15px;
	padding: 15px;
	margin: 17px;
	display: block;
	background-color: #0271b0;
	color: #ffffff;
	text-decoration: none;
}


.hyper:hover, .hyper:active
{
	display: block;
	background-color: #ececec;
	color: #0271b0;
	text-decoration: none;
}


/*
	TABLES
*/


td.head {
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	background-color: #EEEEEE;
	font-weight: bold;
	font-size: 10px;
}
td.head_action {
	border: 1px solid silver;
	background-color: #D7D7D7;
	font-weight: bold;
	font-size: 10px;
}

td.item {
	border-left: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 1px;
	vertical-align: middle;
	font-size: 10px;
}

td.item_action {
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: #EEEEEE;
	padding: 1px;
}

input.action {
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	border: 1px solid gray;
}

td.column{
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	background-color: #EEEEEE;
	font-weight: bold;
	font-size: 10px;
	vertical-align: top;
}
td.column_action{
	border: 1px solid silver;
	background-color: #D7D7D7;
	font-weight: bold;
	font-size: 10px;
}
td.column_action_top{
	border: 1px solid silver;
	border-bottom: 0px;
	background-color: #D7D7D7;
	font-weight: bold;
	font-size: 10px;
}
td.column_right {
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	padding: 1px;
	font-size: 10px;
	vertical-align: top;
}
td.column_right_action {
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 1px;
	font-size: 10px;
}
td.column_right_action_top {
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	padding: 1px;
	font-size: 10px;
}

p.desc {
	padding: 10px;
	color: #444444;
}

div.columndesc{
	font-size: 10px;
	color: gray;
	font-weight: normal;
	padding-right: 3px;
}


/*
	MISC INPUTs
*/

ul {
	padding-top: 0px;
	margin-top: 0px;
}

input.edit {
	background-image: url(images/document-edit-mini.png);
}
input.new {
	background-image: url(images/document-new-mini.png);
}
input.save {
	background-image: url(images/document-save.png);
}
input.reset {
	background-image: url(images/document-reset.png);
}
input.next {
	background-image: url(images/go-next.png);
}
input.previous {
	background-image: url(images/go-previous.png);
}
input.up {
	background-image: url(images/go-up.png);
}
input.down {
	background-image: url(images/go-down.png);
}
input.cancel {
	background-image: url(images/process-stop.png);
}
