.user-message-system-ibox table{
	width: 100%;
}

.user-message-system-ibox-table-head {
	background: #666;	
}

.user-message-system-one-message-subject {
	cursor: pointer;
}

.one-message-subject-0 {
	font-weight: bold;
}
